<div class="seccion-vista-content">
  <h5>{{ SECCION24_TEMPLATES.tituloSeccion }}</h5>
  <p class="text-justify" [innerHTML]="viewModel().textos.introShort"></p>
  <p class="text-justify" *ngIf="viewModel().textos.introLong" [innerHTML]="viewModel().textos.introLong"></p>

  <p class="table-title">Cuadro N° {{ viewModel().globalTableNumber }}</p>
  
  <app-table-wrapper [title]="(viewModel().data['cuadroTituloActividadesEconomicasAISI'] || SECCION24_TEMPLATES.labelCuadroPrincipal.replace('{centroPoblado}', viewModel().data['centroPobladoAISI'] || SECCION24_TEMPLATES.centroPobladoDefault))" [sectionId]="seccionId" [hideNumber]="true">
    <app-generic-table [data]="viewModel().actividades" [config]="{ columns: [ { key: 'actividad', header: SECCION24_TEMPLATES.labelActividadEconomica, width: '60%' }, { key: 'casos', header: SECCION24_TEMPLATES.labelCasos, width: '20%', align: 'center' }, { key: 'porcentaje', header: SECCION24_TEMPLATES.labelPorcentaje, width: '20%', align: 'center' } ], showHeader: true, showFooter: false }"></app-generic-table>
  </app-table-wrapper>

  <p class="source">FUENTE: {{ viewModel().textos.fuente }}</p>
  <p class="text-justify" *ngIf="viewModel().textos.analisis">{{ viewModel().textos.analisis }}</p>

  <app-image-upload
    *ngIf="fotosActividadesSignal() && fotosActividadesSignal().length > 0"
    [fotografias]="fotosActividadesSignal()"
    [sectionId]="seccionId"
    [photoPrefix]="'fotografiaActividadesEconomicas' + obtenerPrefijoGrupo()"
    [modoVista]="true"
    [permitirMultiples]="true"
    [mostrarNumero]="true"
    [mostrarTitulo]="true"
    [mostrarFuente]="true">
  </app-image-upload>

  <p style="margin-top: 20px; margin-bottom: 10px;"><strong>{{ SECCION24_TEMPLATES.tituloMercado }}</strong></p>
  <p class="text-justify" *ngIf="viewModel().textos.mercado">{{ viewModel().textos.mercado }}</p>

  <app-image-upload
    *ngIf="fotosMercadoSignal() && fotosMercadoSignal().length > 0"
    [fotografias]="fotosMercadoSignal()"
    [sectionId]="seccionId"
    [photoPrefix]="'fotografiaMercado' + obtenerPrefijoGrupo()"
    [modoVista]="true"
    [permitirMultiples]="true"
    [mostrarNumero]="true"
    [mostrarTitulo]="true"
    [mostrarFuente]="true">
  </app-image-upload>

  <p style="margin-top: 20px; margin-bottom: 10px;"><strong>{{ SECCION24_TEMPLATES.tituloHabitos }}</strong></p>
  <p class="text-justify" *ngIf="viewModel().textos.habitos">{{ viewModel().textos.habitos }}</p>

  <app-image-upload
    [modoVista]="true"
    [permitirMultiples]="true"
    [fotografias]="fotosCacheSignal()"
    [sectionId]="seccionId"
    [photoPrefix]="photoPrefixSignal()">
  </app-image-upload>
</div>
