<h3>3.1.3 Índices demográficos, sociales, económicos, de ocupación laboral
    y otros similares</h3>
<div *ngIf="datos.parrafoSeccion3_metodologia; else metodologiaDefault" class="text-justify" [innerHTML]="formatearParrafo(datos.parrafoSeccion3_metodologia)"></div>
<ng-template #metodologiaDefault>
    <p class="text-justify">Para la descripción del aspecto socioeconómico se ha utilizado
        una combinación de métodos y técnicas cualitativas de investigación social, entre ellas se ha seleccionado
        las técnicas de entrevistas semiestructuradas con autoridades locales y/o informantes calificados, así como
        de encuestas de carácter socioeconómico. Además de ello, se ha recurrido a la recopilación de documentos que
        luego son contrastados y completados con la consulta de diversas fuentes de información oficiales
        actualizadas respecto al área de influencia social tales como el Censo Nacional INEI (2017), Escale –
        MINEDU, la base de datos de la Oficina General de Estadística e Informática del Ministerio de Salud, entre
        otros.</p>
</ng-template>
<h4>A. Fuentes primarias</h4>
<div *ngIf="datos.parrafoSeccion3_fuentes_primarias; else fuentesPrimariasDefault" class="text-justify" [innerHTML]="formatearParrafo(datos.parrafoSeccion3_fuentes_primarias)"></div>
<ng-template #fuentesPrimariasDefault>
    <p class="text-justify">Dentro de las fuentes primarias se consideran a las autoridades comunales y locales, así como pobladores que fueron entrevistados y proporcionaron información cualitativa y cuantitativa. Esta información de primera mano muestra datos fidedignos que proporcionan un alcance más cercano de la realidad en la que se desarrollan las poblaciones del área de influencia social. Para la obtención de información cualitativa, se realizaron un total de <span [appDataSource]="getDataSourceType('cantidadEntrevistas')">{{ datos.cantidadEntrevistas || '____' }}</span> entrevistas en profundidad a informantes calificados y autoridades locales.</p>
</ng-template>
<p class="text-justify">A continuación, se muestra en el siguiente cuadro los cargos u
    ocupaciones principales de las <span [appDataSource]="getDataSourceType('cantidadEntrevistas')">{{ datos.cantidadEntrevistas || '____' }}</span>
    autoridades e
    informantes que fueron entrevistados durante el trabajo de campo llevado a cabo en el mes de <span
        [appDataSource]="getDataSourceType('fechaTrabajoCampo')">{{ datos.fechaTrabajoCampo || '____' }}</span>. </p>
<app-table-wrapper title="Lista de entrevistados" sectionId="3.1.3">
<table class="table-container">
    <thead>
        <tr>
            <th class="table-header">Nombres y Apellidos</th>
            <th class="table-header">Cargo u Ocupación</th>
            <th class="table-header">Organización</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="datos.entrevistados && datos.entrevistados.length > 0">
            <tr *ngFor="let entrevistado of datos.entrevistados">
                <td class="table-cell">{{ entrevistado.nombre || '____' }}</td>
                <td class="table-cell">{{ entrevistado.cargo || '____' }}</td>
                <td class="table-cell">{{ entrevistado.organizacion || '____' }}</td>
            </tr>
        </ng-container>
        <ng-container *ngIf="!datos.entrevistados || datos.entrevistados.length === 0">
            <tr>
                <td class="table-cell">____</td>
                <td class="table-cell">____</td>
                <td class="table-cell">____</td>
            </tr>
            <tr>
                <td class="table-cell">____</td>
                <td class="table-cell">____</td>
                <td class="table-cell">____</td>
            </tr>
            <tr>
                <td class="table-cell">____</td>
                <td class="table-cell">____</td>
                <td class="table-cell">____</td>
            </tr>
        </ng-container>
    </tbody>
</table>
</app-table-wrapper>
<p class="text-justify">Fuente: <span [appDataSource]="getDataSourceType('consultora')">{{ datos.consultora || 'GEADES (2024)' }}</span></p>
<h4>B. Fuentes secundarias</h4>
<div *ngIf="datos.parrafoSeccion3_fuentes_secundarias; else fuentesSecundariasDefault" class="text-justify" [innerHTML]="formatearParrafo(datos.parrafoSeccion3_fuentes_secundarias)"></div>
<ng-template #fuentesSecundariasDefault>
    <p class="text-justify">En la elaboración de la LBS se utilizó información cuantitativa de fuentes secundarias provenientes de fuentes oficiales, entre las que se encuentran las siguientes:</p>
</ng-template>
<ul>
    <li class="list-item" *ngFor="let fuente of obtenerFuentesSecundarias()">{{ fuente }}</li>
    <li class="list-item" *ngIf="obtenerFuentesSecundarias().length === 0">____</li>
</ul>

<app-image-upload
    [modoVista]="true"
    [permitirMultiples]="true"
    [fotografias]="fotografiasSeccion3"
    [sectionId]="'3.1.3'"
    [labelTitulo]="'Título'"
    [labelFuente]="'Fuente'"
    [labelImagen]="'Imagen'">
</app-image-upload>
