<div class="form-group-section">
  <h4 class="section-title">{{ SECCION17_TEMPLATES.sectionTitle }}</h4>

  <!-- Párrafo con Resaltado -->
  <div class="form-group-section mt-lg" [innerHTML]="obtenerTextoIDHConResaltado()"></div>

  <!-- Tabla IDH -->
  <app-table-wrapper [title]="obtenerTituloIDH()" [sectionId]="seccionId">
    <div class="table-wrapper table--scrollable">
      <table class="table table--view table--idh" style="width:100%">
        <thead>
          <tr>
            <th colspan="2">{{ SECCION17_TEMPLATES.tableGroupHeaders[0].label }}</th>
            <th colspan="2">{{ SECCION17_TEMPLATES.tableGroupHeaders[1].label }}</th>
            <th colspan="2">{{ SECCION17_TEMPLATES.tableGroupHeaders[2].label }}</th>
            <th colspan="2">{{ SECCION17_TEMPLATES.tableGroupHeaders[3].label }}</th>
            <th colspan="2">{{ SECCION17_TEMPLATES.tableGroupHeaders[4].label }}</th>
            <th colspan="2">{{ SECCION17_TEMPLATES.tableGroupHeaders[5].label }}</th>
          </tr>
          <tr>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.poblacion }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.rankIdh1 }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.idh }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.rankEsperanza }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.esperanzaVida }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.rankEducacion1 }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.educacion }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.rankEducacion2 }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.anosEducacion }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.rankAnios }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.ingreso }}</th>
            <th>{{ SECCION17_TEMPLATES.tableHeaders.rankIngreso }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getIndiceDesarrolloHumanoTabla()">
            <td style="text-align:right"><span [appDataSource]="'backend'">{{ item.poblacion || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:center"><span [appDataSource]="'backend'">{{ item.rankIdh1 || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:right"><span [appDataSource]="'backend'">{{ item.idh || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:center"><span [appDataSource]="'backend'">{{ item.rankEsperanza || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:right"><span [appDataSource]="'backend'">{{ item.esperanzaVida || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:center"><span [appDataSource]="'backend'">{{ item.rankEducacion1 || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:right"><span [appDataSource]="'backend'">{{ item.educacion || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:center"><span [appDataSource]="'backend'">{{ item.rankEducacion2 || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:right"><span [appDataSource]="'backend'">{{ item.anosEducacion || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:center"><span [appDataSource]="'backend'">{{ item.rankAnios || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:right"><span [appDataSource]="'backend'">{{ item.ingreso || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
            <td style="text-align:center"><span [appDataSource]="'backend'">{{ item.rankIngreso || SECCION17_TEMPLATES.mensajeSinDatos }}</span></td>
          </tr>
          <tr *ngIf="getIndiceDesarrolloHumanoTabla().length === 0">
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
            <td class="table-cell">{{ SECCION17_TEMPLATES.mensajeSinDatos }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-table-wrapper>

  <p class="source" style="margin-top: 5px; font-size: 0.9em;">{{ SECCION17_TEMPLATES.labelFuente }}: {{ obtenerFuenteIDH() }}</p>

  <!-- Fotografías -->
  <div class="form-group-section mt-lg" *ngIf="getFotografiasVista().length > 0">
    <app-image-upload
      [modoVista]="true"
      [permitirMultiples]="true"
      [fotografias]="getFotografiasVista()"
      [sectionId]="seccionId"
      [photoPrefix]="photoPrefixSignal()"
      [labelTitulo]="SECCION17_TEMPLATES.labelTitulo"
      [labelFuente]="SECCION17_TEMPLATES.labelFuente"
      [labelImagen]="SECCION17_TEMPLATES.labelFotografias">
    </app-image-upload>
  </div>
</div>
