<h5>{{ SECCION16_TEMPLATES.tituloSeccion }}</h5>

<h5>{{ SECCION16_TEMPLATES.subtituloAgua }}</h5>
<div [innerHTML]="obtenerTextoAguaConResaltado()"></div>

<app-image-upload
    [modoVista]="true"
    [permitirMultiples]="true"
    [fotografias]="getFotografiasReservorioVista()"
    [sectionId]="seccionId"
    [photoPrefix]="PHOTO_PREFIX_RESERVORIO"
    [labelTitulo]="SECCION16_TEMPLATES.labelFotoTitulo"
    [labelFuente]="SECCION16_TEMPLATES.labelFotoFuente"
    [labelImagen]="SECCION16_TEMPLATES.labelFotoImagen">
</app-image-upload>

<h5>{{ SECCION16_TEMPLATES.subtituloTenencia }}</h5>
<div [innerHTML]="obtenerTextoRecursosNaturalesConResaltado()"></div>

<app-image-upload
    [modoVista]="true"
    [permitirMultiples]="true"
    [fotografias]="getFotografiasUsoSuelosVista()"
    [sectionId]="seccionId"
    [photoPrefix]="PHOTO_PREFIX_USO_SUELOS"
    [labelTitulo]="SECCION16_TEMPLATES.labelFotoTitulo"
    [labelFuente]="SECCION16_TEMPLATES.labelFotoFuente"
    [labelImagen]="SECCION16_TEMPLATES.labelFotoImagen">
</app-image-upload>
