<div class="form-group-section">
  <h4 class="section-title">{{ SECCION16_TEMPLATES.tituloSeccion }}</h4>

  <div class="form-group-section mt-lg">
    <h4 class="section-title">Editar Párrafos</h4>

    <app-paragraph-editor
      [fieldId]="getFieldIdAguaCompleto()"
      [label]="SECCION16_TEMPLATES.labelAguaCompleto"
      [hint]="SECCION16_TEMPLATES.hintAguaCompleto"
      [rows]="6"
      [value]="obtenerTextoAguaCompleto()"
      (valueChange)="onFieldChange('parrafoSeccion16_agua_completo', $event)">
    </app-paragraph-editor>

    <app-paragraph-editor
      [fieldId]="getFieldIdRecursosNaturalesCompleto()"
      [label]="SECCION16_TEMPLATES.labelRecursosNaturalesCompleto"
      [hint]="SECCION16_TEMPLATES.hintRecursosNaturalesCompleto"
      [rows]="6"
      [value]="obtenerTextoRecursosNaturalesCompleto()"
      (valueChange)="onFieldChange('parrafoSeccion16_recursos_naturales_completo', $event);">
    </app-paragraph-editor>
  </div>

  <div class="form-field mt-lg">
    <label class="label">{{ SECCION16_TEMPLATES.labelFotografiasReservorio }}</label>
    <app-image-upload
      [fotografias]="fotografiasReservorio"
      [sectionId]="seccionId"
      [photoPrefix]="PHOTO_PREFIX_RESERVORIO"
      [permitirMultiples]="true"
      [labelTitulo]="SECCION16_TEMPLATES.labelFotoTitulo"
      [labelFuente]="SECCION16_TEMPLATES.labelFotoFuente"
      [labelImagen]="SECCION16_TEMPLATES.labelFotoImagen"
      [placeholderTitulo]="SECCION16_TEMPLATES.placeholderFotoTituloReservorio"
      [placeholderFuente]="SECCION16_TEMPLATES.placeholderFotoFuente"
      [tituloDefault]="SECCION16_TEMPLATES.tituloFotoDefaultReservorio"
      [fuenteDefault]="SECCION16_TEMPLATES.fuenteFotoDefault"
      [requerido]="false"
      (fotografiasChange)="onFotografiasReservorioChange($event)">
    </app-image-upload>
  </div>

  <div class="form-field mt-lg">
    <label class="label">{{ SECCION16_TEMPLATES.labelFotografiasUsoSuelos }}</label>
    <app-image-upload
      [fotografias]="fotografiasUsoSuelos"
      [sectionId]="seccionId"
      [photoPrefix]="PHOTO_PREFIX_USO_SUELOS"
      [permitirMultiples]="true"
      [labelTitulo]="SECCION16_TEMPLATES.labelFotoTitulo"
      [labelFuente]="SECCION16_TEMPLATES.labelFotoFuente"
      [labelImagen]="SECCION16_TEMPLATES.labelFotoImagen"
      [placeholderTitulo]="SECCION16_TEMPLATES.placeholderFotoTituloUsoSuelos"
      [placeholderFuente]="SECCION16_TEMPLATES.placeholderFotoFuente"
      [tituloDefault]="SECCION16_TEMPLATES.tituloFotoDefaultUsoSuelos"
      [fuenteDefault]="SECCION16_TEMPLATES.fuenteFotoDefault"
      [requerido]="false"
      (fotografiasChange)="onFotografiasUsoSuelosChange($event)">
    </app-image-upload>
  </div>
</div>
