<div class="seccion-vista-content">
  <h4>{{ SECCION21_TEMPLATES.tituloSeccion }}</h4>

  <div *ngIf="viewModel().parrafoAisi; else aisiIntroCompletoDefault" class="text-justify" [innerHTML]="formatearParrafo(viewModel().parrafoAisi)"></div>
  <ng-template #aisiIntroCompletoDefault>
    <p class="text-justify">En cuanto al área de influencia social indirecta (AISI), se ha determinado que esta se encuentra conformada por el CP <span [appDataSource]="'section'" [fieldName]="'centroPobladoAISI'">{{ datos.centroPobladoAISI || datos.informacionReferencialAISI?.centro_poblado || SECCION21_TEMPLATES.placeholderVacio }}</span>, capital distrital de la jurisdicción homónima, en la provincia de <span [appDataSource]="'section'">{{ datos.provinciaSeleccionada || SECCION21_TEMPLATES.placeholderVacio }}</span>, en el departamento de <span [appDataSource]="'section'">{{ datos.departamentoSeleccionado || SECCION21_TEMPLATES.placeholderVacio }}</span>. Esta delimitación se debe a que esta localidad es el centro político de la jurisdicción donde se ubica el Proyecto, así como al hecho de que mantiene una interrelación continua con el área delimitada como AISD y que ha sido caracterizada previamente.</p>
  </ng-template>

  <h5>{{ SECCION21_TEMPLATES.tituloSubseccion }} {{ centroPobladoAisiSignal() || datos.informacionReferencialAISI?.centro_poblado || SECCION21_TEMPLATES.placeholderVacio }}</h5>
  <div *ngIf="viewModel().parrafoCentro; else centroPobladoCompletoDefault" class="text-justify" [innerHTML]="formatearParrafo(viewModel().parrafoCentro)"></div>
  <ng-template #centroPobladoCompletoDefault>
    <p class="text-justify">El CP <span [appDataSource]="'section'" [fieldName]="'centroPobladoAISI'">{{ datos.centroPobladoAISI || datos.informacionReferencialAISI?.centro_poblado || SECCION21_TEMPLATES.placeholderVacio }}</span> es la capital del distrito homónimo, perteneciente a la provincia de <span [appDataSource]="'section'">{{ datos.provinciaSeleccionada || SECCION21_TEMPLATES.placeholderVacio }}</span>, en el departamento de <span [appDataSource]="'section'">{{ datos.departamentoSeleccionado || SECCION21_TEMPLATES.placeholderVacio }}</span>. Su designación como capital distrital se oficializó mediante la Ley N°<span [appDataSource]="'manual'">{{ datos.leyCreacionDistrito || SECCION21_TEMPLATES.placeholderVacio }}</span>, promulgada el <span [appDataSource]="'manual'">{{ datos.fechaCreacionDistrito || SECCION21_TEMPLATES.placeholderVacio }}</span>.</p>
  </ng-template>

  <!-- Número de cuadro con numeración global -->
  <p class="table-title">Cuadro N° {{ globalTableNumberSignal() }}</p>
  
  <app-table-wrapper 
    [title]="cuadroTituloSignal()" 
    [sectionId]="seccionId"
    [hideNumber]="true">
    <app-generic-table
      [data]="viewModel().ubicacionCp"
      [config]="{
        columns: [
          { key: 'localidad', header: SECCION21_TEMPLATES.labelColLocalidad, align: 'left' },
          { key: 'coordenadas', header: SECCION21_TEMPLATES.labelColCoordenadas, align: 'left' },
          { key: 'altitud', header: SECCION21_TEMPLATES.labelColAltitud, align: 'left' },
          { key: 'distrito', header: SECCION21_TEMPLATES.labelColDistrito, align: 'left' },
          { key: 'provincia', header: SECCION21_TEMPLATES.labelColProvincia, align: 'left' },
          { key: 'departamento', header: SECCION21_TEMPLATES.labelColDepartamento, align: 'left' }
        ],
        showFooter: false,
        striped: true,
        hover: true
      }">
    </app-generic-table>
  </app-table-wrapper>

  <p class="source">FUENTE:<span appDataHighlight="manual">{{ cuadroFuenteSignal() }}</span></p>

  <app-image-upload
    [modoVista]="true"
    [fotografias]="viewModel().fotos"
    [sectionId]="seccionId"
    [photoPrefix]="photoPrefixSignal()"
    [labelTitulo]="SECCION21_TEMPLATES.labelTituloFoto"
    [labelFuente]="SECCION21_TEMPLATES.labelFuenteFoto"
    [labelImagen]="SECCION21_TEMPLATES.labelImagenFoto">
  </app-image-upload>
</div>