<div class="seccion-vista-content">
  <h4>B. Caracterización socioeconómica del Área de Influencia Social Indirecta (AISI)</h4>

  <div *ngIf="viewModel().parrafoAisi; else aisiIntroCompletoDefault" class="text-justify" [innerHTML]="formatearParrafo(viewModel().parrafoAisi)"></div>
  <ng-template #aisiIntroCompletoDefault>
    <p class="text-justify">En cuanto al área de influencia social indirecta (AISI), se ha determinado que esta se encuentra conformada por el CP <span [appDataSource]="'section'" [fieldName]="'centroPobladoAISI'">{{ datos.centroPobladoAISI || datos.informacionReferencialAISI?.centro_poblado || '____' }}</span>, capital distrital de la jurisdicción homónima, en la provincia de <span [appDataSource]="'section'">{{ datos.provinciaSeleccionada || '____' }}</span>, en el departamento de <span [appDataSource]="'section'">{{ datos.departamentoSeleccionado || '____' }}</span>. Esta delimitación se debe a que esta localidad es el centro político de la jurisdicción donde se ubica el Proyecto, así como al hecho de que mantiene una interrelación continua con el área delimitada como AISD y que ha sido caracterizada previamente.</p>
  </ng-template>

  <h5>B.1. Centro Poblado {{ datos.centroPobladoAISI || datos.informacionReferencialAISI?.centro_poblado || '____' }}</h5>
  <div *ngIf="viewModel().parrafoCentro; else centroPobladoCompletoDefault" class="text-justify" [innerHTML]="formatearParrafo(viewModel().parrafoCentro)"></div>
  <ng-template #centroPobladoCompletoDefault>
    <p class="text-justify">El CP <span [appDataSource]="'section'" [fieldName]="'centroPobladoAISI'">{{ datos.centroPobladoAISI || datos.informacionReferencialAISI?.centro_poblado || '____' }}</span> es la capital del distrito homónimo, perteneciente a la provincia de <span [appDataSource]="'section'">{{ datos.provinciaSeleccionada || '____' }}</span>, en el departamento de <span [appDataSource]="'section'">{{ datos.departamentoSeleccionado || '____' }}</span>. Su designación como capital distrital se oficializó mediante la Ley N°<span [appDataSource]="'manual'">{{ datos.leyCreacionDistrito || '____' }}</span>, promulgada el <span [appDataSource]="'manual'">{{ datos.fechaCreacionDistrito || '____' }}</span>.</p>
  </ng-template>

  <app-table-wrapper [title]="datos['cuadroTituloUbicacionCp'] || ('Ubicación referencial – Centro Poblado ' + (datos.centroPobladoAISI || datos.informacionReferencialAISI?.centro_poblado || '____'))" [sectionId]="seccionId">
    <app-generic-table
      [data]="viewModel().ubicacionCp"
      [config]="{
        columns: [
          { key: 'localidad', header: 'Localidad', align: 'left' },
          { key: 'coordenadas', header: 'Coordenadas', align: 'left' },
          { key: 'altitud', header: 'Altitud', align: 'left' },
          { key: 'distrito', header: 'Distrito', align: 'left' },
          { key: 'provincia', header: 'Provincia', align: 'left' },
          { key: 'departamento', header: 'Departamento', align: 'left' }
        ],
        showFooter: false,
        striped: true,
        hover: true
      }">
    </app-generic-table>
  </app-table-wrapper>

  <p class="source">FUENTE:<span appDataHighlight="manual">{{ datos['cuadroFuenteUbicacionCp'] || 'GEADES (2024)' }}</span></p>

  <app-image-upload
    [modoVista]="true"
    [fotografias]="viewModel().fotos"
    [sectionId]="seccionId"
    [photoPrefix]="PHOTO_PREFIX"
    [labelTitulo]="'Título'"
    [labelFuente]="'Fuente'"
    [labelImagen]="'Imagen'">
  </app-image-upload>
</div>