<div class="container">
    <div class="preview">
        <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">A.1.5</span> Viviendas</h3>
        
        <p style="text-align:justify;margin-bottom: 5px;">{{ datos.viviendasComponent1 }}</p>

        <div id="ubicacionTable">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 14</p>
            <p style="text-align: center;font-weight: 700;">Viviendas en {{ datos.distritoSeleccionado }} (2017)</p>
            <table style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Tipo</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Viviendas</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Personas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Ocupadas con personas presentes</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ viviendas.ocupadas.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ viviendas.ocupadas.personas }}</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Desocupadas</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ viviendas.desocupadas.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ viviendas.desocupadas.personas }}</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">En construcción</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ viviendas.construccion.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ viviendas.construccion.personas }}</td>
                    </tr>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">TOTAL</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">{{ calcularTotalesViviendas() }}</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">{{ calcularTotalesPersonas() }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;margin-top: 10px;">Fuente: Censo Nacional 2017, INEI</p>

        <p style="text-align:justify;margin-bottom: 5px;"><span class="highlight">{{ datos.estructuraComponent1 }}</span></p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="highlight">{{ datos.estructuraComponent2 }}</span></p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="highlight">{{ datos.estructuraComponent3 }}</span></p>

        <div id="ubicacionTable">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 15</p>
            <p style="text-align: center;font-weight: 700;">Tipos de materiales de las viviendas en {{ datos.distritoSeleccionado }} (2017)</p>
            
            <p style="font-weight: 700;margin-top: 15px;margin-bottom: 5px;">Paredes</p>
            <table style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Material</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Ladrillo o bloque de cemento</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.ladrillo.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.ladrillo.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Adobe</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.adobe.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.adobe.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Tapia</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.tapia.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.tapia.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Piedra con barro</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.piedra.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.piedra.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Madera</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.madera.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.madera.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Otros</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.otros.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesParedes.otros.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                </tbody>
            </table>

            <p style="font-weight: 700;margin-top: 15px;margin-bottom: 5px;">Techos</p>
            <table style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Material</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Concreto armado</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesTechos.concreto.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesTechos.concreto.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Calamina, fibra de cemento o similares</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesTechos.calamina.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesTechos.calamina.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Paja, hojas de palmera, etc.</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesTechos.ichu.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesTechos.ichu.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Teja</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesTechos.teja.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesTechos.teja.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Otros</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesTechos.otros.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesTechos.otros.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                </tbody>
            </table>

            <p style="font-weight: 700;margin-top: 15px;margin-bottom: 5px;">Pisos</p>
            <table style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Material</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;">Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Tierra</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesPisos.tierra.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesPisos.tierra.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Cemento</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesPisos.cemento.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesPisos.cemento.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Losetas, terrazos</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesPisos.losetas.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesPisos.losetas.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Madera</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesPisos.madera.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesPisos.madera.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px #000000;padding: 5px;">Otros</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesPisos.otros.total }}</td>
                        <td style="border: solid 1px #000000;padding: 5px;">{{ materialesPisos.otros.porcentaje | number:'1.2-2' }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;margin-top: 10px;">Fuente: Censo Nacional 2017, INEI</p>

        <div *ngIf="datos.imagenes2 && datos.imagenes2.length > 0" style="margin-top: 20px;">
            <p style="font-weight: 700;margin-bottom: 10px;">Fotografías de viviendas</p>
            <div *ngFor="let imagen of datos.imagenes2">
                <p style="margin-bottom: 5px;"><strong>{{ imagen.name }}</strong></p>
                <img [src]="imagen.url" style="max-width: 100%; margin: 10px 0; border: 1px solid #ccc;">
            </div>
        </div>
    </div>

    <div class="formulario">
        <div class="title">A.1.5 Viviendas - Formulario</div>

        <div class="conainer-label-input">
            <div class="label">Texto introductorio:</div>
            <textarea [(ngModel)]="datos.viviendasComponent1" style="width: 100%; height: 80px; padding: 8px; border: 1px solid #ddd;"></textarea>
        </div>

        <div class="label" style="margin-top: 15px; font-weight: 700;">Cuadro 3.14 - Viviendas</div>
        
        <div style="display: flex; gap: 10px; margin-bottom: 10px;">
            <div style="flex: 1;">
                <div class="label">Ocupadas - Viviendas:</div>
                <input class="inputstyle" type="number" [(ngModel)]="viviendas.ocupadas.total">
            </div>
            <div style="flex: 1;">
                <div class="label">Ocupadas - Personas:</div>
                <input class="inputstyle" type="number" [(ngModel)]="viviendas.ocupadas.personas">
            </div>
        </div>

        <div style="display: flex; gap: 10px; margin-bottom: 10px;">
            <div style="flex: 1;">
                <div class="label">Desocupadas - Viviendas:</div>
                <input class="inputstyle" type="number" [(ngModel)]="viviendas.desocupadas.total">
            </div>
            <div style="flex: 1;">
                <div class="label">Desocupadas - Personas:</div>
                <input class="inputstyle" type="number" [(ngModel)]="viviendas.desocupadas.personas">
            </div>
        </div>

        <div style="display: flex; gap: 10px; margin-bottom: 15px;">
            <div style="flex: 1;">
                <div class="label">En construcción - Viviendas:</div>
                <input class="inputstyle" type="number" [(ngModel)]="viviendas.construccion.total">
            </div>
            <div style="flex: 1;">
                <div class="label">En construcción - Personas:</div>
                <input class="inputstyle" type="number" [(ngModel)]="viviendas.construccion.personas">
            </div>
        </div>

        <div class="label" style="font-weight: 700;">Cuadro 3.15 - Materiales</div>

        <div class="label" style="margin-top: 10px; font-weight: 600;">Paredes</div>
        <div style="display: flex; gap: 10px; margin-bottom: 10px; flex-wrap: wrap;">
            <div style="flex: 1; min-width: 120px;">
                <label>Ladrillo:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesParedes.ladrillo.total">
            </div>
            <div style="flex: 1; min-width: 120px;">
                <label>Adobe:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesParedes.adobe.total">
            </div>
            <div style="flex: 1; min-width: 120px;">
                <label>Tapia:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesParedes.tapia.total">
            </div>
        </div>
        <div style="display: flex; gap: 10px; margin-bottom: 15px; flex-wrap: wrap;">
            <div style="flex: 1; min-width: 120px;">
                <label>Piedra:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesParedes.piedra.total">
            </div>
            <div style="flex: 1; min-width: 120px;">
                <label>Madera:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesParedes.madera.total">
            </div>
            <div style="flex: 1; min-width: 120px;">
                <label>Otros:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesParedes.otros.total">
            </div>
        </div>

        <div class="label" style="margin-top: 10px; font-weight: 600;">Techos</div>
        <div style="display: flex; gap: 10px; margin-bottom: 10px; flex-wrap: wrap;">
            <div style="flex: 1; min-width: 120px;">
                <label>Concreto:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesTechos.concreto.total">
            </div>
            <div style="flex: 1; min-width: 120px;">
                <label>Calamina:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesTechos.calamina.total">
            </div>
            <div style="flex: 1; min-width: 120px;">
                <label>Ichu/Paja:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesTechos.ichu.total">
            </div>
        </div>
        <div style="display: flex; gap: 10px; margin-bottom: 15px; flex-wrap: wrap;">
            <div style="flex: 1; min-width: 120px;">
                <label>Teja:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesTechos.teja.total">
            </div>
            <div style="flex: 1; min-width: 120px;">
                <label>Otros:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesTechos.otros.total">
            </div>
        </div>

        <div class="label" style="margin-top: 10px; font-weight: 600;">Pisos</div>
        <div style="display: flex; gap: 10px; margin-bottom: 10px; flex-wrap: wrap;">
            <div style="flex: 1; min-width: 120px;">
                <label>Tierra:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesPisos.tierra.total">
            </div>
            <div style="flex: 1; min-width: 120px;">
                <label>Cemento:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesPisos.cemento.total">
            </div>
            <div style="flex: 1; min-width: 120px;">
                <label>Losetas:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesPisos.losetas.total">
            </div>
        </div>
        <div style="display: flex; gap: 10px; margin-bottom: 15px; flex-wrap: wrap;">
            <div style="flex: 1; min-width: 120px;">
                <label>Madera:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesPisos.madera.total">
            </div>
            <div style="flex: 1; min-width: 120px;">
                <label>Otros:</label>
                <input class="inputstyle" type="number" [(ngModel)]="materialesPisos.otros.total">
            </div>
        </div>

        <div class="conainer-label-input">
            <div class="label">Texto materiales paredes:</div>
            <textarea [(ngModel)]="datos.estructuraComponent1" style="width: 100%; height: 60px; padding: 8px; border: 1px solid #ddd;"></textarea>
        </div>

        <div class="conainer-label-input">
            <div class="label">Texto materiales techos:</div>
            <textarea [(ngModel)]="datos.estructuraComponent2" style="width: 100%; height: 60px; padding: 8px; border: 1px solid #ddd;"></textarea>
        </div>

        <div class="conainer-label-input">
            <div class="label">Texto materiales pisos:</div>
            <textarea [(ngModel)]="datos.estructuraComponent3" style="width: 100%; height: 60px; padding: 8px; border: 1px solid #ddd;"></textarea>
        </div>

        <div class="conainer-label-input" style="margin-top: 15px;">
            <div class="label">Seleccionar imagen:</div>
            <input class="inputstyle" type="file" (change)="onFileSelected($event)" accept="image/*">
        </div>

        <div *ngIf="selectedImageUrl" class="conainer-label-input">
            <div class="label">Nombre de la imagen:</div>
            <input class="inputstyle" type="text" [(ngModel)]="imageName" placeholder="Escriba un nombre">
            <button class="siguiente" style="margin-top: 8px;" (click)="guardarImagen()">Agregar imagen</button>
        </div>

        <button class="siguiente" style="margin-top: 15px; margin-bottom: 10px;" (click)="actualizarDatos()">Actualizar Vista Previa</button>

        <div style="display: flex; gap: 20px; margin-top: 10px;">
            <button class="atras" (click)="regresar()">Atrás</button>
            <button class="siguiente" (click)="siguientePaso()">Siguiente</button>
        </div>
    </div>
</div>
