<div>
  <h5>{{ SECCION29_TEMPLATES.tituloSeccion }}</h5>

  <p class="mt-lg mb-sm"><strong>{{ SECCION29_TEMPLATES.tituloSubseccionA }}</strong></p>
  <p class="text-justify">{{ obtenerTextoNatalidadCP1() }}</p>
  <p class="text-justify">{{ obtenerTextoNatalidadCP2() }}</p>

  <app-table-wrapper [title]="(tituloNatalidadSignal() && tituloNatalidadSignal().trim().length>0) ? tituloNatalidadSignal() : (SECCION29_TEMPLATES.placeholderTituloNatalidad.replace('_____', centroPobladoSignal()))" [sectionId]="seccionId">
    <app-generic-table
      [data]="getNatalidadMortalidadSinTotal()"
      [config]="natalidadTableConfig">
    </app-generic-table>
  </app-table-wrapper>
  <p class="source">FUENTE:<span [appDataSource]="'manual'"> {{ fuenteNatalidadSignal() && fuenteNatalidadSignal().trim().length>0 ? fuenteNatalidadSignal() : SECCION29_TEMPLATES.placeholderFuenteNatalidad }}</span></p>

  <p class="mt-lg mb-sm"><strong>{{ SECCION29_TEMPLATES.tituloSubseccionB }}</strong></p>
  <p class="text-justify">{{ obtenerTextoMorbilidadCP() }}</p>

  <app-table-wrapper [title]="(tituloMorbilidadSignal() && tituloMorbilidadSignal().trim().length>0) ? tituloMorbilidadSignal() : (SECCION29_TEMPLATES.placeholderTituloMorbilidad.replace('_____', distritoSeleccionadoSignal()))" [sectionId]="seccionId">
    <app-generic-table
      [data]="getMorbilidadSinTotal()"
      [config]="morbilidadTableConfig">
    </app-generic-table>
  </app-table-wrapper>
  <p class="source">FUENTE:<span [appDataSource]="'manual'"> {{ fuenteMorbilidadSignal() && fuenteMorbilidadSignal().trim().length>0 ? fuenteMorbilidadSignal() : SECCION29_TEMPLATES.placeholderFuenteMorbilidad }}</span></p>

  <p class="mt-lg mb-sm"><strong>{{ SECCION29_TEMPLATES.tituloSubseccionC }}</strong></p>
  <p class="text-justify">{{ obtenerTextoAfiliacionSalud() }}</p>

  <app-table-wrapper [title]="(tituloAfiliacionSignal() && tituloAfiliacionSignal().trim().length>0) ? tituloAfiliacionSignal() : (SECCION29_TEMPLATES.placeholderTituloAfiliacion.replace('_____', centroPobladoSignal()))" [sectionId]="seccionId">
    <app-generic-table
      [data]="getAfiliacionSaludSinTotal()"
      [config]="afiliacionTableConfig">
    </app-generic-table>
  </app-table-wrapper>
  <p class="source">FUENTE:<span [appDataSource]="'manual'"> {{ fuenteAfiliacionSignal() && fuenteAfiliacionSignal().trim().length>0 ? fuenteAfiliacionSignal() : SECCION29_TEMPLATES.placeholderFuenteAfiliacion }}</span></p>

  <app-image-upload
      [modoVista]="true"
      [permitirMultiples]="true"
      [fotografias]="getFotografiasVista()"
      [sectionId]="seccionId"
      [photoPrefix]="PHOTO_PREFIX"
      [labelTitulo]="SECCION29_TEMPLATES.labelTituloNatalidad"
      [labelFuente]="SECCION29_TEMPLATES.labelFuenteNatalidad"
      [labelImagen]="SECCION29_TEMPLATES.labelTabdlaNatalidad">
  </app-image-upload>
</div>
