.cell-from-bd {
  background-color: #9c27b0;
  color: #ffffff;
  font-weight: 600;
}

.cell-percentage {
  background-color: #c8e6c9;
  color: #0b3d0b;
  font-weight: 600;
}

.cell-subtotal {
  background-color: #9c27b0;
  color: #ffffff;
  font-weight: 600;
  font-style: italic;
}

.row-subtotal {
  background-color: #ffffff;
}

.row-subtotal td {
  background-color: #ffffff !important;
  color: #333333;
  font-weight: 600;
  border: 1px solid black;
}



